# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\实训课程\project\my_annotation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
